# File .gitignore per progetti Python

# Ambiente virtuale
venv/
env/
venv310/
ENV/
env.bak/
venv.bak/

# Virtualenv
*.venv
.venv/
venv*/

# Conda environment
.conda/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribuzione / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installatori
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx
docs/_build/

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
*.code-workspace

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor temporanei
*.swp
*~
*.bak

# Logs
*.log

# media
media/